@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    font-family: 'Poppins', sans-serif;
}

input.number-to-text::-webkit-outer-spin-button,
input.number-to-text::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].number-to-text {
    -moz-appearance: textfield;
}